version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
    volumes:
      # Mount source code for hot reloading
      - .:/app
      # - /app/node_modules
      - /app/.next
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 1G
        reservations:
          cpus: '0.05'
          memory: 512M

