version: "3.8"
services:
  app:
    image: node:20
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=100
    volumes:
      - ./:/app:cached
      - /app/node_modules
    command: sh -c "yarn install --silent && yarn dev"